<div class="modal-header">
    <h3 class="modal-title">Edit Project</h3>
</div>

<div class="modal-body">
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    
                    <label> Project Name</label>
                    <input type="text" ng-model="project.name" class="form-control">
                  
                    <label>  Project Description</label>
                    <textarea ng-model="project.description" class="form-control" rows="3"></textarea>
                    <!--
                <div class = "row radio-horizontal">
                  <label class=" col-md-4 radio">
                    <input type="radio" ng-model="project.image" name="optionsRadios" id="optionsRadios1" value="{{image.option1 }}" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    <img src="{{image.option1 }}" alt="New Project" class="tile-image img-rounded big-illustration">
                  </label>
                  
                  <label class="col-md-4 radio">
                    <input type="radio" ng-model="project.image" name="optionsRadios" id="optionsRadios2" value="{{image.option2 }}" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    <img src="{{image.option2 }}" alt="New Project" class="tile-image img-rounded big-illustration">
                  </label>
                  
                  <label class="col-md-4 radio">
                    <input type="radio" ng-model="project.image" name="optionsRadios" id="optionsRadios3" value="{{image.option3 }}" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    <img src="{{image.option3 }}" alt="New Project" class="tile-image img-rounded big-illustration">
                  </label>
                  
                  <label class="col-md-4 radio">
                    <input type="radio" ng-model="project.image" name="optionsRadios" id="optionsRadios4" value="other" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    <p>Other</p>
                      
                  </label>
                  
                  </div>
                    -->
                    <label>Project Photo - check out <a href = "http://www.pexels.com/" target = "_blank"> Pexels</a> for free stock photos</label>
                    <input type="text" ng-model="project.image" class="form-control">
                    <img src="{{project.image }}" alt="New Project" class="tile-image img-rounded big-illustration">
                    <br>
                    
                    <label>Project Animation</label>
                    <animation-select ng-model="project.animation"></animation-select>
          
                     
                    
                 <label> <i class="fa fa-github"></i> GitHub URL</label>
                    <input type="text" ng-model="project.githubUrl" class="form-control">

                    <label><i class="fa fa-globe"></i> Website URL</label>
                    <input type="text" ng-model="project.websiteUrl" class="form-control">
                   
                
            </div>
               
			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
			
            </fieldset>
        </form>
    </div>
</div>
        
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="remove()">Delete</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="update()">OK</button>
        </div>